<div class="food-container">   
    <h2><%= @recipe.name %></h2>
    <div class="shopping-stats">
        <%= link_to "Generate shopping list", general_shopping_list_path, class: 'button-link' if can? :update, @recipe %>
        <%= link_to "Add Ingredient", new_recipe_recipe_food_path(@recipe), class: 'button-link' if can? :update, @recipe %>
    </div>
    <table>
        <%= render 'foods/table_head', { columns: ['Food', 'Quantity', 'Value'], with_actions: (can? :update, @recipe) } %>
        <tbody>
            <% @recipe.recipe_foods.each do |recipe_food| %>
                <%= render 'recipe_foods/recipe_food', {recipe_food: recipe_food, with_actions: (can? :update, @recipe) } %>
            <% end %>
        </tbody>
    </table>
</div>