<%= stylesheet_link_tag "devise" %>

<h2 class='header'>Resend confirmation instructions</h2>

<div class='table'>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'field-1' %>
    </div>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions", class: 'btn' %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
