<%= stylesheet_link_tag "devise" %>

<h2 class='header'>Sign up</h2>

<div class='table'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name, class: 'label-1' %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'field-1' %>
    </div>

    <div class="field">
      <%= f.label :photo, class: 'label-1' %><br />
      <%= f.file_field :photo, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :email, class: 'label-1' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'field-1' %>
    </div>

    <div class="field">
      <%= f.label :password, class: 'label-1' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'field-1' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: 'label-1' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'field-1' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn' %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
