<%= stylesheet_link_tag "recipes" %>

<h1 class='head'>Public Recipes</h1>

<% @public_recipes.each do |recipe| %>
  <ul class='public-ul-list'>
    <li class='public-list'>
      <div class='recipe-n1'>
        <h2 class='rec-name'><%= recipe.name %></h2>
        <p class='by'>By: <%= recipe.user.name %></p>
      </div>
      <div class='total'>
        <p>Total food items: <%= recipe.foods.count %></p>
        <p>Total price: <%= recipe.foods.sum(:price) %></p>
      </div>
    </li>
  </ul>
<% end %>
