<%= stylesheet_link_tag "recipes" %>
<%= link_to '<', recipes_path, class: 'back-link'  %>

<div class='recipe-show'>
  <h2 class='head'><%= @recipe.name %></h2>
  <div class='details'>
    <div>
      <p>Preparation time: <%= @recipe.preparation_time %></p>
      <p>Cooking time: <%= @recipe.cooking_time %></p>
      <p><%= @recipe.description %></p>
    </div>
    <p>Public <%= @recipe.public %></p>
  </div>
</div>
