<%= stylesheet_link_tag "user" %>

<ul class='cardlist'>
  <% @users.each do |user| %>
    <li class='card'>
      <div class='photo'>
        <% if user.photo.present? %>
        <%= image_tag(user.photo, alt: user.name, class: "user-photo") %>
        <% else %>
        <%= image_tag "user.jpeg", height: 200 %>
        <% end %>
      </div>
      <div class='userinfo'>
        <h2 class='username'><%= user.name %></h2>
        <p class='recipe-amount'>Number of recipes: <%= user.recipes.count %></p>
      </div>
    </li>
  <% end %>
</ul>
